@import "tailwindcss";
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

/* CSS customizado */
@import "./not-found.css";
@import "./config/theme.css";
/* @import "./config/background.css"; */
@import "./config/scrollbar.css";

body {
  @apply bg-background text-foreground;
}
