BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3333 # URL da API (.)
BETTER_AUTH_DOMAIN=".example.com"

DEFAULT_PORT=3333

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRECT=

# VERCEL_CLIENT_ID=
# VERCEL_CLIENT_SECRECT=

ARCSTUDIO_AUTH_URL=http://localhost:3000 # URL do site de auth (../auth/**)
ARCSTUDIO_DEV_URL=http://localhost:5117 # URL da aplicação web (../web/**) DEV
ARCSTUDIO_URL=https://arcstudio.online # URL publica do arcstudio (../web/**) PROD


MONGODB_URI=
MONGODB_DB_NAME="api"
